{% extends "courses/base.html" %} {% block content %}

<h2><p class="font-weight text-center">Lectures for "{{ course.name }}"</p></h2>

<br style = “line-height:5;”><br>


{% if lectures %}

<table class="center">
    <tr>
        <th style="text-align:center;">Lecture Name</th>
        <th style="text-align:center;">Description</th>
    </tr>
    {% for lecture in lectures %}
        <tr>
            <td style="text-align:left;">{{ lecture.name }}</td>
            <td style="text-align:center;">{{ lecture.description }}</td>
        </tr>
    {% endfor %}
</table>

 
{% else %}
<p class="font-weight text-center">Currently there are no lectures</p>

{% endif  %}

<p class="font-weight text-right"><a href="{% url 'Education:courses:create_lecture' course.id %}"><button type="button" class="btn btn-info">Add new lecture</button></a>
</p>

{% endblock %}